html{
    font-family: Georgia;
}



.GL{
    background-color: rgb(197,85,160);
    text-align: center;
    width: 50%;
    height: 180px;
    
}

.GP{
    background-color: rgb(197,85,160);
    text-align: center;
    width: 50%;
    height: 180px;    
}

.baner{
    text-align: center;
    background-color: rgb(246, 226, 222);
    height: 100px;
    padding: 10px;
}

footer{
    text-align: center;
    background-color: rgb(246, 226, 222);
    height: 100px;
    padding: 10px;
}